@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter/InterVariable.woff2") format("woff2"),
    url("/fonts/Inter/InterVariable.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter/InterVariable-Italic.woff2") format("woff2"),
    url("/fonts/Inter/InterVariable-Italic.woff") format("woff");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --hero-background: #0f3c5d;
  --about-bgclr-1: #178ab0;
  --about-bgclr-2: #1c81c9;

  --home-overlay-bg: #0a2a40;
  --home-text-clr: #e3e4e2;
  --home-accent-clr: #ffd166;
  --home-accent-darker-clr: #ffc233;
  --home-completed-clr: #00fee5;
  --home-planned-clr: #cccccc;
  --home-in-progress-clr: #ffb914;
  --home-review-clr: #0dff00;

  --background: #e3e4e2;
  --overlay-bg: #eff3f6;
  --text-clr: #120e08;
  --accent-clr: #178ab0;
  --completed-clr: #170099;
  --planned-clr: #4d4d4d;
  --in-progress-clr: #996b00;
  --review-clr: #089900;

  --font-inter: Inter, sans-serif;
}

@theme {
  /* Screen Margin */
  --spacing-mobile-scr-mg-x: calc(var(--spacing) * (0.25 * 20));
  --spacing-mobile-scr-mg-y: calc(var(--spacing) * (0.25 * 20));
  --spacing-scr-mg-x: calc(var(--spacing) * (0.25 * 80));
  --spacing-scr-mg-y: calc(var(--spacing) * (0.25 * 20));

  /* Mobile Sidebar */
  --spacing-sb-item-pad: calc(var(--spacing) * (0.25 * 30));
  --spacing-mobile-sidebar-icon: calc(var(--spacing-mobile-scr-mg-y) + 8px);
  --text-sb-item-size: 24px;

  /* Homepage Sections */
  --color-hero-section: var(--hero-background);
  --color-about-clr1: var(--about-bgclr-1);
  --color-about-clr2: var(--about-bgclr-2);

  /* Homepage Defaults */
  --color-home-nav-bg: var(--home-overlay-bg);
  --color-home-logo-clr: var(--home-text-clr);
  --color-home-txt: var(--home-text-clr);
  --color-home-accent: var(--home-accent-clr);
  --color-home-accent-darker: var(--home-accent-darker-clr);
  --color-home-overlay: var(--home-overlay-bg);
  --color-home-completed: var(--home-completed-clr);
  --color-home-planned: var(--home-planned-clr);
  --color-home-in-progress: var(--home-in-progress-clr);
  --color-home-review: var(--home-review-clr);

  /* Normal Defaults */
  --color-bg: var(--background);
  --color-nav-bg: var(--overlay-bg);
  --color-logo-clr: var(--text-clr);
  --color-txt: var(--text-clr);
  --color-accent: var(--accent-clr);
  --color-overlay: var(--overlay-bg);
  --color-completed: var(--completed-clr);
  --color-planned: var(--planned-clr);
  --color-in-progress: var(--in-progress-clr);
  --color-review: var(--review-clr);

  --font-sans: var(--font-inter);

  --animate-slide-in-right: slide-in-right 0.3s ease-out forwards;
  --animate-slide-out-right: slide-out-right 0.3s ease-in forwards;
  --animate-accent-fade: accentFade 30s linear infinite;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes accentFade {
  0%,
  92% {
    color: var(--color-txt);
  }

  93% {
    color: var(--color-accent);
  }

  99% {
    color: var(--color-accent);
  }

  100% {
    color: var(--color-txt);
  }
}
